/* google font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/* common shared style */

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

/* nav related style */
nav {
    margin-top: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul {
    display: flex;
}

.list ul li {
    list-style: none;
    margin-right: 40px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.primary-btn {
    color: #000000;
    font-size: 20px;
    border: 1px solid #000000;
    padding: 20px 35px;
    border-radius: 14px;
    background: #ffffff;
}

.success {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    padding-bottom: 35px;
}

.logo-img {
    background: #000000;
    color: #000000;
}

.hero-tittle {
    color: #000000;
    font-size: 60px;
    font-weight: 500;
    max-width: 531px;
}

.hero-description {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    max-width: 498px;
    padding-bottom: 35px;
}

.secondary-btn {
    color: #ffffff;
    background: #000000;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 35px;
    border: none;
    border-radius: 14px;
}

.sponsor {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

/* main related style */

.offer {
    display: flex;
    margin-top: 160px;
    gap: 47px;
}

.services-tittle {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    background: #B9FF66;
    max-width: 178px;
    height: 51px;
    padding: 5px;
}

.services-des {
    font-size: 18px;
    font-weight: 400;
    max-width: 580px;
}

.item {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.first-search,
.thrid-search {
    background: #F3F3F3;
    max-width: 600px;
    border-radius: 45px;
    padding: 50px;
}

.second-search {
    background-color: #B9FF66;
    max-width: 600px;
    border-radius: 45px;
    padding: 50px;
}

.thrid-search {
    background: #000000;
}

.engine {
    display: flex;
    justify-content: space-between;
}

.search-title,
.second-title,
.thrid-title {
    color: #000000;
    font-size: 30px;
    font-weight: 500px;
    max-width: 207px;
    background: #B9FF66;
    height: 76px;
    padding: 10px;
}

.second-title {
    background: #ffffff;
}

.thrid-title {
    background: #ffffff;
}

.and-title {
    background: #B9FF66;
    color: #000000;
    font-size: 30px;
    font-weight: 500px;
    max-width: 207px;
    height: 76px;
}


.common-btn {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.common-btn i {
    background: #000000;
    color: #B9FF66;
    border-radius: 360px;
    rotate: 30deg;
    padding: 10px;
    margin-right: 6.5px;
}

.common {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}


.common i {
    color: #000000;
    background: #ffffff;
    border-radius: 360px;
    rotate: 30deg;
    padding: 10px;
    margin-right: 6.5px;
}

.contact {
    margin-top: 123px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F3F3F3;
    border-radius: 45px;
    /* max-width: 1240px; */
    /* height: 347px; */
    gap: 186px;
    align-items: center;
}

.today {
    padding: 60px;
}

.contact-tittle {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 26px;
}

.contact-des {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    padding-bottom: 26px;
}

.case {
    display: flex;
    gap: 40px;
    margin-top: 140px;
    margin-bottom: 80px;
}

.case-tittle {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    background: #B9FF66;
    max-width: 265px;
    height: 51px;
    padding: 5px;
}

.case-des {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    max-width: 580px;
}

.for {
    background: #191A23;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 45px;
    border-left: 1px solid #FFFFFF;
    padding: 70px 64px 93px 60px;
    gap: 30px;
}

.traffic:nth-child(2) {
    border-left: 1px solid#F3F3F3;
    border-right: 1px solid#F3F3F3;
    padding: 0 30px;

}

.for-des {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    max-width: 286px;
    height: 115px;
    padding-bottom: 20px;
}

.traffic a {
    text-decoration: none;
    color: #B9FF66;
    font-size: 20px;
}

.work {
    display: flex;
    gap: 40px;
    margin-top: 140px;
    margin-bottom: 80px;
}

.work-tittle {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    max-width: 412px;
    height: 51px;
    background: #B9FF66;
    padding: 5px;
}

.work-des {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    max-width: 292px;
}

.allow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

/* 
.during {
    background: #B9FF66;

    display: flex;
     justify-content: space-between; 
     background: #B9FF66;
    padding: 41px 57px 30px 60px;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 45px;
    border-bottom: 1px solid #000000;
} */



.number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #B9FF66;
    padding: 41px 57px 30px 60px;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 45px;
    border-bottom: 1px solid #000000;
    box-shadow: 0 10px #191A23;
}

.during-des {
    border-top: 1px solid #000000;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.initial {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.initial-tittle {
    color: #000000;
    font-size: 60px;
    font-weight: 500;
}

.initial-des {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
}

.best {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 41px 57px 30px 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 10px #191A23;
}


.fa-plus,
.fa-minus {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 16px;
    color: #191A23;
    border-radius: 360px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.experience {
    max-width: 357px;
    height: 331px;
    background: #FFFFFF;
    border-radius: 45px;
    padding: 40px 35px;
    border: 1px solid #000000;
}

.experience-time {
    display: flex;
    justify-content: space-between;
}

.picture {
    display: flex;
    gap: 20px;
}

.skill {
    padding-top: 53.82px;
}

.experience-time-description {
    color: #B9FF66;
    background: #000000;
    font-size: 14px;
    border-radius: 360px;
    max-width: 17px;
    height: 17px;
    padding: 5px;
}

.hear-des {
    max-width: 473px;
}

.experience-time-des {
    border-top: 1px solid #000000;
}

.experience-des,
.experience-time-des {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.experience-time-des {
    border-top: 1px solid #000000;
    margin-top: 28px;
    padding-top: 28px;
}

.result {
    background: #191A23;
    border-radius: 45px;
}

.working {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 84px;
}

.positivus {
    border: 1px solid #B9FF66;
    padding: 48px 52px 80px 52px;
    border-radius: 45px;
}

.positivus-des {
    color: #FFFFFF;
}

.special-person {
    color: #B9FF66;
}

.person-tittle {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.icon {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 124px;
    padding-bottom: 68px;
}

.fa-arrow-left {
    padding-right: 189px;
}

.fa-arrow-right {
    padding-left: 189px;
}

.fa-star {
    padding-right: 19px;
}

.fa-star:hover {
    color: #B9FF66;
}

.contact-us {
    background: #F3F3F3;
}

.radio {
    display: flex;
    gap: 10px;
}

input[type=radio]#Yellow {
    accent-color: #B9FF66;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
}



.information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 80px;
}

.input-tittle {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}

#name,
#message {
    width: 556px;
    height: 59px;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 18px 30px 18px 30px;
    gap: 10px;
}

#message {
    height: 190px;
    margin-bottom: 40px;
}

.mark {
    margin-top: 60px;
    padding-left: 395px;
}

.vector {
    /* padding-bottom: 233.68px; */
}

.fa-icon {
    display: flex;
    gap: 20px;
    max-width: 30px;
    height: 30px;
    padding-right: 60px;
    color: #FFFFFF;
}

footer {
    margin-top: 140px;
}

.request {
    background: #191A23;
    border-radius: 45px 45px 0 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 60px 66px 60px;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li {
    list-style: none;
    padding-right: 40px;
    text-decoration: underline;
    color: #FFFFFF
}

.info {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;
}

.info-tittle {
    background: #B9FF66;
    max-width: 126px;
    height: 26px;
    color: #000000;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
}

.info-des {
    font-size: 18px;
    font-weight: 400;
    padding-top: 27px;
    padding-bottom: 20px;
}

.info-des-tittle {
    font-size: 18px;
    font-weight: 400;
}

.info-input {
    display: flex;
    justify-content: center;
    background: #292A32;
    width: 634px;
    height: 184px;
    align-items: center;
    gap: 10px;
}

#email {
    max-width: 285px;
    border: 1px solid #FFFFFF;
    padding: 22px 35px;
    border-radius: 14px;
    background: #292A32;
}

#sub {
    max-width: 285px;
    height: 67px;
    color: #000000;
    background: #B9FF66;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 14px;
}

.last-text {
    display: flex;
    gap: 40px;
}

.footer-des {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* responsive media query */
/* mobile devices */

@media screen and (max-width:560px) {

    .logo,
    .list,
    .list ul,
    .offer {
        flex-direction: column;
    }

    .list ul,
    .list ul li {
        padding-bottom: 10px;
    }

    .img {
        max-width: 100%;
    }

    .success,
    .item {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }

    .offer {
        text-align: center;
    }

    .hero-tittle {
        font-size: 30px;
        max-width: 531px;
    }

    .sponsor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 37px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {

    .logo,
    .list,
    .list ul {
        flex-direction: column;
    }

    .list ul,
    .list ul li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}